body{
  background-color: #474747;
  font-family: monospace;
  color: cornsilk;
  font-size: 24px;
}

h1 {
  font-size: 8.0vw;
  color: cornsilk;
}

a {
  color: cornsilk;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a:hover{
  color: coral;
}

p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin-right: 4.0vw;
  font-size: 1.5vw;
  /*float:left;*/
}

img {
  display: inline;
  float:right;
  margin-right: 3.0vw;
  margin-left: 3.0vw;
}

button {
  font-size: 3.5vw;
  background-color: #333333;
  border: none;
  border-radius: 2px;
  color: cornsilk;
  padding: 15px;
  border-bottom: thin solid cornsilk;
}
button:hover{
  color: coral;
  border-bottom: thin solid #333333;
  /*background-color: coral;*/
}

.main{
  background-color: #333333;
  max-width: 60.0vw;
  padding: 0px 10px 40px 10px;
  margin: 30px auto;
  border: 1px solid coral;
  border-radius: 5px;
  text-align: center;
}

#results {
  /*float: right;*/
  margin-right: 4.0vw;
  margin-top: 8.0vw;
  text-align: right;
}