body{
  background-color: #474747;
  font-family: monospace;
  color: cornsilk;
  font-size: 24px;
}

h1 {
  font-size: 9.0vw;
  color: coral;
}

a {
  color: cornsilk;
  font-family: monospace;
  /*float: left;*/
}
a:hover{
  color: coral;
}

p {
  font-family: sans-serif;
  /*float:left;*/
}

img {
  display: inline;
  /*float:right;*/
}

button {
  font-size: 2.0vw;
  background-color: #474747;
  border: none;
  border-radius: 2px;
  color: cornsilk;
  padding: 15px;
}

.main{
  background-color: #333333;
  max-width: 60.0vw;
  padding: 0px 10px 40px 10px;
  margin: 30px auto;
  border: 1px solid cornsilk;
  border-radius: 5px;
  text-align: center;
}